{{ define "main" }}
{{ partial "back_link.html" .}}

<article data-pagefind-body>
    <span data-pagefind-meta="date" style="display: none;">{{ .Date | time.Format "2006-01-02" }}</span>
    <p class="post-meta">
        <time datetime="{{ .Date }}">
            {{ if (eq (.Date | time.Format site.Params.theme_config.date_format) "0001-01-01") }}
                {{ "" }}
            {{ else }}
                {{ .Date | time.Format site.Params.theme_config.date_format }}
            {{ end }}
        </time>
    </p>

    <h1 data-pagefind-meta="title">{{ .Title }}</h1>

    <div data-pagefind-ignore>
    {{ with .Params.tags }}
        {{ $base := "tags/" | relURL }}
        {{ $links := slice }}
        {{ range . }}
            {{ if ne . "all" }}
                {{ $links = $links | append (printf `<a href="%s%s">%s</a>` $base (urlize .) .) }}
            {{ end }}
        {{ end }}
        {{ if gt (len $links) 0 }}
            <p style="font-size: 75%; margin-left: 4%;">tags: {{ delimit $links ", " | safeHTML }}</p>
        {{ end }}
    {{ end }}

    <p>{{ .Params.subtitle }}</p>

    {{ .Content }}
    </div>
</article>

{{ partial "comments.html" . }}
{{ end }}
