{{ define "main" }}
{{ partial "back_link.html" .}}

<article>
    <p class="post-meta">
        <time datetime="{{ .Date }}">
            {{ .Date | time.Format site.Params.theme_config.date_format }}
        </time>
    </p>

    <h1>{{ .Title }}</h1>

    {{ with .Params.tags }}
        {{ $base := "tags/" | relURL }}
        {{ $links := slice }}
        {{ range . }}
            {{ if ne . "all" }}
                {{ $links = $links | append (printf `<a href="%s%s">%s</a>` $base (urlize .) .) }}
            {{ end }}
        {{ end }}
        {{ if gt (len $links) 0 }}
            <p style="font-size: 75%; margin-left: 4%;">tags: {{ delimit $links ", " | safeHTML }}</p>
        {{ end }}
    {{ end }}

    <p>{{ .Params.subtitle }}</p>

    {{ .Content }}
</article>
{{ end }}