{{ if eq .Params.comments true }}
<div class="comments">
  <script>
    (function() {
      var theme = document.documentElement.getAttribute('data-theme') || 'light';
      var script = document.createElement('script');
      script.src = 'https://giscus.app/client.js';
      script.setAttribute('data-repo', '{{ site.Params.giscus.repo }}');
      script.setAttribute('data-repo-id', '{{ site.Params.giscus.repoID }}');
      script.setAttribute('data-category', '{{ site.Params.giscus.category }}');
      script.setAttribute('data-category-id', '{{ site.Params.giscus.categoryID }}');
      script.setAttribute('data-mapping', 'pathname');
      script.setAttribute('data-strict', '0');
      script.setAttribute('data-reactions-enabled', '1');
      script.setAttribute('data-emit-metadata', '0');
      script.setAttribute('data-input-position', 'top');
      script.setAttribute('data-theme', theme);
      script.setAttribute('data-lang', 'en');
      script.setAttribute('data-loading', 'lazy');
      script.setAttribute('crossorigin', 'anonymous');
      script.async = true;
      document.currentScript.parentNode.appendChild(script);
    })();
  </script>
</div>
{{ end }}
