<ul>
    {{- range $item := .collection -}}
        <li>
            {{- with $item.url -}} <!-- If the tiile is a link -->
                {{ if eq $item.special "theme_toggle" }} <!-- If theme toggle -->
                    - <a href="{{ $item.url }}" onclick="toggleTheme(); return false;">{{ safeHTML $item.title }}</a> +
                {{ else if eq $item.title "projects" }} <!-- If projects, add the link to custom (promote) -->
                    <a href="{{ $item.url }}">{{ safeHTML $item.title }}</a> > <a href="carldsscom">carldss.com</a>
                {{ else }}
                    <a href="{{ $item.url }}">{{ safeHTML $item.title }}</a>
                {{ end }}
            {{- else -}}
                {{ if eq $item.title "info" }} <!-- If info, add the now link -->
                    info > <a href="now">now</a>
                {{ else if eq $item.title "whoami, portfolio" }} <!-- If whoami, portfolio, add the link to custom -->
                    <a href="about">whoami</a> & <a href="portfolio">portfolio</a>
                {{ else if eq $item.title "owner of" }} <!-- If owner of add the link to custom -->
                    <a href="tags/business">owner</a> of <a href="carldsscom">carldss.com</a>
                {{ else if eq $item.title "all posts" }} <!-- If all posts -->
                    all posts
                {{ else if eq $item.title "posts by tag" }} <!-- If tag, add the link to the tag word only -->
                    posts by <a href="tags">tags</a>
                {{ else }}
                    {{ safeHTML $item.title }} <!--  Normal title -->
                {{ end }}
                
            {{- end -}}
        </li>

        {{- if $item.entries }}
            {{ partial "menu_item.html" (dict "context" . "collection" $item.entries) }}
        {{- end -}}

        {{- if $item.post_list -}}
            {{ partial "post_list.html" (dict 
                "context" .
                "section" $item.post_list.section
                "limit" $item.post_list.limit
                "show_more" $item.post_list.show_more
                "show_more_text" $item.post_list.show_more_text
                "show_more_url" $item.post_list.show_more_url
                ) -}}
        {{- end -}}
    {{- end -}}
</ul>
